@model DsiVendas.Models.Produto

<h1>Confirmar Exclusão</h1>

<p>Você tem certeza que deseja remover o produto @Model.Nome?</p>

<div>
    <h4>Detalhes do Produto</h4>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        
        <dt class="col-sm-2">Preço</dt>
        <dd class="col-sm-10">@Model.Preco.ToString("C")</dd>
    </dl>
</div>

<form asp-action="Excluir" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
    @Html.AntiForgeryToken()
</form>

<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
